requests
numpy
scipy
matplotlib
scikit-learn
torch
torchvision
torchaudio
ipywidgets
decorator==5.0.9
nbformat
nbconvert
notebook
pillow
flake8
fuzzywuzzy[speedup]
pyyaml
beautifulsoup4
brian2
pandas
